.middle-heading {
  font-size: 4.2em;
  font-weight: bold;
  color: #2d473e;
  text-align: center;
}

.post-heading {
  font-size: 3.7em;
  font-weight: bold;
  color: #293632;
}

.bottom-heading {
  font-size: 1.2em;
  color: #293632;
}

.default-heading {
  font-size: 1.5em;
  font-weight: semi-bold;
}
