.middle-heading {
  font-size: 4.2em;
  font-weight: bold;
  color: #2d473e;
  text-align: center;
}

.post-heading {
  font-size: 3.7em;
  font-weight: bold;
  color: #293632;
}

.bottom-heading {
  font-size: 1.2em;
  color: #293632;
}

.form-heading {
  font-size: 3em;
  font-weight: bold;
  color: #2d473e;
  text-align: center;
  font-weight: 450;
  padding: -50%;
}

.top-heading {
  font-size: 4.7em;
  font-weight: bold;
  color: #293632;
}
