.image-container {
  text-align: center;
}

.small-image {
  max-width: 1500px;
  max-height: 1500px;
}

.medium-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.big-image {
  width: 600px;
  height: 600px;
  object-fit: cover;
}
