.form-border {
  padding: 33px;
  border: 2px solid #dbdbdb;
  border-radius: 30px;
  font-size: 16px;
  width: 85%;
  height: 750px;
}

.form-row {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}
