.card-text {
  font-size: 0.9em;
  color: #293632;
  text-align: center;
  font-weight: normal;
}

.bottom-text {
  font-size: 0.85em;
  font-weight: normal;
  color: #293632;
  line-height: 1.5;
}

.post-text {
  font-size: 1.45em;
  font-weight: normal;
  color: #293632;
  line-height: 1.5;
}

.green-text {
  text-align: center;
  font-weight: normal;
  font-size: 1.85em;
  color: #006340;
}
