.card-text {
  font-size: 0.9em;
  color: #293632;
  text-align: center;
  font-weight: normal;
}

.bottom-text {
  font-size: 0.85em;
  font-weight: normal;
  color: #293632;
  line-height: 1.5;
}

.middle-text {
  font-size: 0.85em;
  font-weight: normal;
  color: #293632;
  line-height: 1.5;
}

.green-text {
  font-size: 1em;
  color: green;
}
